body {
  color: #fff;
  font-size: 1em;
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
  background: #1b1b1b;
  text-align: center;
  min-width: 648px;
}
a {
  color: #02ADDB;
  text-decoration: none;
}
a:hover {
  color: #41D7FF;
}
h1 {
  font-family: "Courier New", "Courier", monospace;
  font-size: 32px;
  font-weight: normal;
  line-height: 46px;
  margin: 0 0 18px 0;
}
h1 a {
  color: #333;
  -webkit-transition: all 1s ease-in-out;
}
h1 a:hover {
  color: #eee;
  text-shadow: 0 0 5px #41D7FF;
}
p {
  line-height: 1;
  margin: 0;
}
div#pageContainer {
  width: 648px;
  margin: 32px auto 0 auto;
}
header {
  height: 64px;
}
canvas#stage {
  width: 520px;
  height: 390px;
  background-color: #efefef;
  box-shadow: 0px 0px 12px #02ADDB;
  cursor: pointer, auto;
}
body.taco {
  cursor: url(../assets/taco.png), auto;
}
div.tag {
  width: 520px;
  margin: 0 auto;
}
div.tag p.title {
  font-size: 32px;
  font-weight: normal;
  text-align: right;
  margin-top: 26px;
  margin-bottom: 8px;
}
div.tag p.short {
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 24px;
}
div.tag summary {
  color: #dddddd;
  font-size: 15px;
  line-height: 16px;
  text-align: justify;
}
div.tag details {
  color: #dddddd;
  height: 30px;
  font-size: 12px;
  line-height: 1.25;
  text-align: justify;
  margin-top: 3px;
}
footer {
  width: 648px;
  margin-top: 34px;
  border-top: 3px double #efefef;
}
footer p {
  font-size: 15px;
  line-height: 16px;
  margin-top: 11px;
  margin-bottom: 16px;
}
