html {
  height: 100%;
  background: #1b1b1b;
  background-image: -moz-radial-gradient(50% 10%, circle closest-corner, #2b2b2b, #1b1b1b 100%);
  background-image: -webkit-radial-gradient(50% 10%, circle closest-corner, #2b2b2b, #1b1b1b 100%);
  background-image: -o-radial-gradient(50% 10%, circle closest-corner, #2b2b2b, #1b1b1b 100%);
  background-image: -ms-radial-gradient(50% 10%, circle closest-corner, #2b2b2b, #1b1b1b 100%);
  background-image: radial-gradient(50% 10%, circle closest-corner, #2b2b2b, #1b1b1b 100%);
  background-repeat: no-repeat;
}
body {
  color: #fff;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  min-width: 768px;
}
a {
  color: #02ADDB;
  text-decoration: none;
}
a:hover {
  color: #41D7FF;
}
h1 {
  font-family: "Courier New", "Courier", monospace;
  font-size: 32px;
  font-weight: normal;
  line-height: 46px;
  margin: 0 0 18px 0;
}
h1 a {
  color: #333;
  -webkit-transition: all 1s ease-in-out;
}
h1 a:hover {
  color: #eee;
  text-shadow: 0 0 5px #41D7FF;
}
p {
  line-height: 1;
  margin: 0;
}
div#pageContainer {
  width: 768px;
  margin: 32px auto 60px auto;
}
header {
  height: 64px;
}
canvas#stage {
  width: 640px;
  height: 400px;
  background-color: #efefef;
  box-shadow: 0px 0px 12px #111111 /*#02ADDB*/;
  cursor: pointer, auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.taco {
  cursor: url(../assets/taco.png), pointer;
}
div.tag {
  width: 640px;
  margin: 0 auto;
}
div.tag p.title {
  font-size: 32px;
  font-weight: normal;
  text-align: right;
  margin-top: 48px;
  margin-bottom: 8px;
}
div.tag p.short {
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 24px;
}
div.tag summary {
  color: #dddddd;
  font-size: 15px;
  line-height: 16px;
  text-align: justify;
}
div.tag details {
  color: #dddddd;
  height: 30px;
  font-size: 12px;
  line-height: 1.25;
  text-align: justify;
  margin-top: 3px;
}
footer {
  color: #333;
  width: 768px;
  margin: 33px 0;
  float: left;
  border-top: 3px double #efefef;
}
footer:hover {
  color: #999;
}
footer:hover a {
  color: #02ADDB;
}
footer:hover a:hover {
  color: #41D7FF;
}
footer p {
  font-size: 15px;
  line-height: 16px;
  margin-top: 11px;
  margin-bottom: 16px;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #eee;
}
